<div class="navbar navbar-fixed-top navbar-inverse ">
      <div class="row">
      <div class="container-fluid">
        <div class="navbar-header">
       				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rNavbar">
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      				</button>
       				<a class="navbar-brand" href="#">Home Server</a>
      		</div>	
        <nav>
          <div class="collapse navbar-collapse" id="rNavbar" >  
          <ul class="nav navbar-nav">
        					<li class="active" ><a href="/home">Home</a></li>
        					<li><a href="/music">Music</a></li>
        					<li><a href="/help">HelpTest</a></li>
        					<% if logged_in? %>
                    <li><%= link_to "Users", users_path %></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Account <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Log out", logout_path, method: :delete %>
                        </li>
                      </ul>
                    </li>
                  <% else %>
                      <li><%= link_to "Log in", login_path %></li>
                  <% end %>
      		</ul>
          </div>
        </nav>
        </div>
        </div>
      </div>